.editor {
  width: 100%;
  margin: var(--pico-block-spacing-vertical) auto;
}

.editor :global(.ProseMirror) {
  min-height: 15em;
  --pico-background-color: var(--pico-form-element-background-color);
  --pico-border-color: var(--pico-form-element-border-color);
  --pico-color: var(--pico-form-element-color);
  --pico-box-shadow: none;
  padding: var(--pico-form-element-spacing-vertical)
    var(--pico-form-element-spacing-horizontal);
  border: var(--pico-border-width) solid var(--pico-border-color);
  border-radius: var(--pico-border-radius);
  background-color: var(--pico-background-color);
  box-shadow: var(--pico-box-shadow);
  color: var(--pico-color);
  font-weight: var(--pico-font-weight);
  transition: background-color var(--pico-transition),
    border-color var(--pico-transition), color var(--pico-transition),
    box-shadow var(--pico-transition);
  outline: none;
}
.editor :global(.ProseMirror) p {
  margin: 0;
  padding: 0;
  height: calc(
    (var(--pico-form-element-spacing-vertical) * 2) + var(--pico-line-height) *
      1em
  );
  display: flex;
  align-items: center;
}

.buttons {
  margin: var(--pico-block-spacing-vertical) auto;
  align-items: start;
  button,
  summary[role='button'] {
    text-align: center;
  }
  details {
    margin-bottom: 0;
  }
}
