.editor {
  width: 100%;
  margin: 2rem auto;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.editor :global(.ProseMirror) {
  min-height: 15em;
  padding: 20px;
}
.editor :global(.ProseMirror) p {
  margin: 0;
  padding: 0;
  height: calc(
    (var(--pico-form-element-spacing-vertical) * 2) + var(--pico-line-height) *
      1em
  );
  display: flex;
  align-items: center;
}
